<p id="notice"><%= notice %></p>

<h1>Euro Exchange Rates</h1>

<h3><%= Date.today %></h3>

<table>
  <thead>
    <tr>
      <th>Currency pair</th>
      <th>Exchange rate</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  

  <tbody>
    <% @current_rates.each do |pair, rate| %>
      <tr>
        <td class="pair"><%= pair %></td>
        <td class="rate"><%= rate.round(6) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<label for="amount">Amount: </label>
<input type="number" id="amount" name="amount" required>
       
<label for="currencyPair">Choose a currency pair:</label>
<select name="currencyPair" id="currencyPair">
    <option value="">--Please choose currency pair--</option>
  <% @current_rates.each do |pair, rate| %>
    <option value="<%= rate %>"><%= pair %></option> 
  <% end %>
</select>

<button type="button" id="convert">Convert!</button>

<h3>Result:</h3>
<h2 id="result"></h2>

<%= javascript_pack_tag 'calculate'%>
