<!--<p id="notice"><%= notice %></p>-->

<!--<p>-->
<!--  <strong>Exchange date:</strong>-->
<!--  <%= @euro_exchange_rate.exchange_date %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Currency pair:</strong>-->
<!--  <%= @euro_exchange_rate.currency_pair %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Exchange rate:</strong>-->
<!--  <%= @euro_exchange_rate.exchange_rate %>-->
<!--</p>-->

<!--<%= link_to 'Edit', edit_euro_exchange_rate_path(@euro_exchange_rate) %> |-->
<!--<%= link_to 'Back', euro_exchange_rates_path %>-->
